
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-image: url('./img/poke1.png');
}
#App-container {
  height: 600px;
  width: 90vw;
  background: rgb(123, 255, 248);
  text-align: center;
  font-family: monospace;
  font-size: 24px;
  color: rgb(61, 61, 61);
  display: block;
  margin: 80px 0;
  border: solid 5px gray;
  
  

}
.app-header{
  height: 5%;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  
  
}
.search-box{
  padding: 28px;
  margin-bottom: 18px;
  margin-top: 24px;
  border: solid 5px rgb(61,61,61);
}
.app-body{
  width: 100%;
  height: 95%;
  display: flex;
  
  
}
.app-left-side{
width: 50%;
height: 100%;
border: solid 1px gray;
background: rgb(177, 255, 249);
}

.test-node-server-box{
  height: 100%;
  background: yellowgreen;
  width: 100%;
}
.app-right-side{
width: 50%;
height: 100%;
border: solid 1px gray;
background: rgb(177, 255, 249);

}
.confirm-button{
  height: 26px;
  width: 120px;
  margin: 0;
  
}
/*  GetData Component ============================ */ 
.GetData{
  
}
#GetData-component{
  width: 100%;
  height: 95%;
  border: solid 5px greenyellow;
  
}
.left-data{
  float: left;
  border: solid 5px gray;
  width: 60%;
  height: 50%;
  position: relative;
}
.button-bar{
  display: flex;
  width: 100%;
  
  position: absolute;
  bottom: 0;
}
.right-data{
  float: right;
  width: 40%;
  border: solid 5px gray;
  overflow-y: auto;
  height: 50%;
}

#SearchHistory-component{
  height: 60vh;
}

.user-pokemon-container{
  width: 100%;
  padding: 20px 0;
}
.user-pokemon-item{
  width: 100%;
  height: 35px;
  background: rgb(123, 210, 250);
  border: solid 3px gray;
}